<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <style>
    #chatbox {
      width: 300px;
      height: 400px;
      border: 1px solid #ccc;
      overflow: auto;
      display: grid;
      place-content: center;
    }
  </style>
</head>
<body style="display: grid; place-content:center">
  <div id="chatbox"></div>
  <input type="text" id="message" placeholder="Escribe un mensaje...">
  <button onclick="sendMessage()">Enviar</button>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/chat.js"></script>
</body>
</html>