<div>
  <h1>List of Productss:</h1>
  <ul>
    {{#each products}}
    <ul>
    <li><b>Producto:</b>{{title}} <b>Modelo:</b>{{description}} <button></button></li>
    </ul>
    {{/each}}
  </ul>
  
</div>