<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <form id="loginForm" class="getMailToRecoverPassForm">
      <h2>Reset Your Password</h2>
      <p id="messageToUser">Enter your user account's verified email address and we will send you a
        password reset link.</p>
      <label for="email">Your Email</label>
      <input id="emailToRecoverPass" name="email" type="email" />
      <br />
      <input type="submit" id="sendMail"/>
    </form>
    <script src="/static/js/mailToRecoverPass.js"></script>
  </body>
</html>