<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <form id="registerForm" class="passResetForm">
      <h2>Reset Your Password
      </h2>
      <label for="password">Password:</label>
      <input type="password" id="loginPassword" name="loginPassword" required />
      <br />
      <label for="repeatPassword">Repeat Password:</label>
      <input
        type="password"
        id="repeatPassword"
        name="repeatPassword"
        required
      />
      <span id="isTheSamePass"></span>
      <br />
      <div class="buttonRegisterForm" id="resetPass" data-id={{user.id}} data-tkn="{{user.token}}">
        <button type="submit" name="submit">Reset</button>
      </div>
    </form>
    <script src="/static/js/passwordReset.js"></script>
  </body>
</html>